/* div.moradito{
                background-color: #C825C6;

            }*/
            .azulito{
                background-color: #C82531;
                text-align: center;
            }
            .azulito-rojo{
                color: #C82531;
            }
            .azulito-verde{
                color: #43C825;
            }
            
            /* #div1{
                background-color: #C825C6;
            }
            div2{
                background-color: #2539C8;
            } */
            /* [name="moradito"]{